<div class="slick-carousel">
    {{#each data as |item|}}
      <div class="slick-carousel__slide cover">
          <div class="section pt+ palm-pt0">
              <div class="layout">
                  <div class="layout__item u-1/2 u-1/1-palm">
                      <div class="ph">
                          <div class="slick-carousel__content">
                              <h1 class="mv0 border border--b">{{item.heading}}</h1>
                              <p>
                                {{item.description}}
                              </p>
                              <a href="{{item.url}}" target="_blank" class="btn btn--primary u-1/1-palm">
                                  Open {{item.heading}}
                              </a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

      </div>
    {{/each}}
    <div class="slick-carousel__arrow slick-carousel__prev icon-chevron-small-left"></div>
    <div class="slick-carousel__arrow slick-carousel__next icon-chevron-small-right"></div>
</div>
