.slick-carousel {
  @extend .cf;
}

.slick-carousel__slide {
  height: 500px;
}

.slick-carousel__arrow {
  font-size: 6rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  line-height: 0;
  cursor: pointer;
  color: white;
  @include media-query(palm) {
    font-size: 2rem;
    top: 33.3333%;
    background: rgba(0,0,0,0.09);
    line-height: 1;
    padding: 40px 5px;
  }
}

.slick-carousel__prev {
  left: 0px;
  text-align: left;
}

.slick-carousel__next {
  right: 0px;
  text-align: right;
}

.slick-carousel__btn {
  background: rgba(255,255,255, 0.3);
  border: none;
  color: white;
  &:hover {
    background: white;
    color: #999;
  }
}


.slick-carousel__content {

}
