.home-graphic {
  height: 75vh;
  overflow: hidden;
  @include media-query(palm) {
    height: 100vh;
  }
}

.home-graphic__content {
  background: url('/images/rocket.svg') no-repeat bottom;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 500px;
  height: 100%;
  left: calc(50% - 250px);
  z-index: 0;
  @include media-query(palm) {
    width: 100%;
  }
}
