<div class="section p">
  <h1 class="text-light text-center">Experiments</h1>
  <div class="layout">
      <div class="layout__item u-1/3">
          <div class="card card--main">
              <div class="card__img p+">
                <img class="u-1/1" src="images/pitchfork_logo.jpg" />
              </div>
              {{#link-to 'experiments.rebuilding-pitchforks-album-carousel' class="card__link"}}
                  Rebuilding Pitchfork's Album Carousel
              {{/link-to}}
          </div>
      </div>
  </div>
</div>
