<div class="hero hero--huge">
    <h1 class="text-light text-center mb0">Rebuilding Pitchfork's Album Carousel</h1>
</div>
<div class="section p mb++">
    <p class="pb+">
        <strong class="text-highlight">Pitchfork is a well designed website</strong> and I am frequent visitor. One of
        the features I use a lot is this damn carousel.
        I've been using it for years now. I Feel like Bill Murray in Groundhog Day with this thing. Get my morning
        coffee, eat a banana, go to Pitchfork,
        cycle through the albums, repeat. Don't get me wrong, it's a nice carousel but it just hasn't changed in
        forever, so I decided it's time
        for me to take a crack at reinventing it.
    </p>

    <div class="layout">
        <div class="layout__item u-1/2">
            <img src="images/experiments/rebuilding-pitchforks-album-carousel/existing_carousel.jpg" class="u-1/1"/>
        </div><!--
        --><div class="layout__item u-1/2">
            <img src="images/experiments/rebuilding-pitchforks-album-carousel/outline.jpg" class="u-1/1"/>
        </div>
    </div>
    <p>
        First, in order to figure out what to change, I wanted to stick to the requirements. Pitchfork publishes
        5 reviews every weekday. the layout shows the current day's reviews with the first album displayed. the detail
        view
        shows the album artwork and album info containing the artist name, album name, author name and
        an excerpt. Hovering over one of the thumbnails triggers a transition, making it the active album.
        There are 5 tabs for the last 5 days of reviews and clicking a tab activates that day's reviews.
    </p>

    <p class="pv++"><strong class="text-highlight">What I wanted to do</strong> was focus on the album art as a strong visual component
        of an otherwise text heavy layout. I've always responded to album artwork and in this digital age we don't get to
        see very much of it. In order to bring the art to the foreground of the component, I decided to conceal the text
        content under the album cover that could be revealed on hover. This not only made it easier on the eyes, it
        became alot more enjoyable to browse. Peep the demo below.
    </p>
  {{pitchfork-carousel content=pitchforkData}}
</div>
