%cover-palm {
  @include media-query(palm) {
    background: #333 !important;
  }
}

.cover {
  background-size: cover;
  z-index: 1;
  position: static;
}

.cover--fixed {
  background-attachment: fixed;
}

.cover--bottom {
  background-position: bottom;
}

