$timeline-border-color: #105B63 !default;

$timeline-outer-circle-color: #FFD34E !default;
$timeline-outer-circle-active-color: $timeline-outer-circle-color !default;
$timeline-outer-circle-size: 12px !default;

$timeline-inner-circle-size: $timeline-outer-circle-size !default;
$timeline-inner-circle-color: $timeline-border-color !default;
$timeline-content-bg-color: #BD4932 !default;

$timeline-content-arrow-size: 20px !default;
$timeline-link-color: $timeline-border-color !default;
$timeline-content-active-bg-color: $timeline-content-bg-color !default;


.timeline {
  @extend .list-block;
  @extend .list-block--small;
  position: relative;
  &, a {
    color: white;
  }
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: -5px;
    background: $timeline-border-color;
    border-radius: 5px;
  }
}

.timeline > .timeline__item {
  padding-bottom: 100px;
  @include media-query(palm) {
    padding-bottom: 50px;
  }
  border-left: 1px solid $timeline-border-color;
  padding-top: 0;
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
  }
  &:after {
    top: 0;
    width: $timeline-outer-circle-size;
    height: $timeline-outer-circle-size;
    left: -($timeline-outer-circle-size/2);
    border-radius: $timeline-outer-circle-size/2;
    background: $timeline-outer-circle-color;
    transition: background 0.5s, transform 0.5s;
  }
  &:before {
    top: ($timeline-outer-circle-size - $timeline-inner-circle-size)/2;
    width: $timeline-inner-circle-size;
    height: $timeline-inner-circle-size;
    left: -($timeline-inner-circle-size/2);
    border-radius: $timeline-inner-circle-size/2;
    background: $timeline-inner-circle-color;
    z-index: 1;
  }
  &.timeline__item--active {
    &:after {
      background: $timeline-outer-circle-active-color;
      transform: scale(2);
    }
    .timeline__content {
      background-color: $timeline-content-active-bg-color;
      &:after {
        @include arrow(left, $timeline-content-arrow-size, $timeline-content-active-bg-color, 'flush-top');
      }
    }
  }
}

.timeline__content {
  @extend .ml-;
  background-color: $timeline-content-bg-color;
  padding: 12px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -($timeline-content-arrow-size * 0.75);
    @include arrow(left, $timeline-content-arrow-size, $timeline-content-bg-color, 'flush-top');
  }
}

.timeline__heading {
  @include media-query(palm) {
    font-size: 0.9375em;
  }
}

.timeline__heading, .timeline__date {
  margin: 0;
}

.timeline__date, .timeline__detail {
  font-size: 0.8125rem;
}

.timeline__detail {
  @extend .ph\-;
}

