.main-menu {
  position: fixed;
  height: 100vh;
  width: $main-menu-width;
  transition: transform 0.4s;
  transform: translate(-($main-menu-width),0);
  background: $main-menu-bg;
  z-index: 3;
}

.main-menu--showing {
  transform: translate(0%,0);
}

.main-menu__item {
  @extend .text-center;
  cursor: pointer;
  background: transparent;
  font-weight: 100;
  a {
    @extend .p-;
    display: block;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    &:hover {
      color: rgba(255,255,255,0.9);
      background: rgba(0,0,0,0.1);
    }
    &.active{
      background: rgba(0,0,0,0.2)
    }
  }
}
