.icon-mobile:before {
  content: "\e000";
}
.icon-laptop:before {
  content: "\e001";
}
.icon-desktop:before {
  content: "\e002";
}
.icon-tablet:before {
  content: "\e003";
}
.icon-phone:before {
  content: "\e004";
}
.icon-picture:before {
  content: "\e00f";
}
.icon-ribbon:before {
  content: "\e01e";
}
.icon-flag:before {
  content: "\e024";
}
.icon-map:before {
  content: "\e025";
}
.icon-envelope:before {
  content: "\e028";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-beaker:before {
  content: "\e03c";
}
.icon-genius:before {
  content: "\e046";
}
.icon-chat:before {
  content: "\e049";
}
.icon-menu:before {
  content: "\e120";
}
.icon-chevron-small-down:before {
  content: "\e900";
}
.icon-chevron-small-left:before {
  content: "\e901";
}
.icon-chevron-small-right:before {
  content: "\e902";
}
.icon-chevron-small-up:before {
  content: "\e903";
}
.icon-browser:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}
.icon-keyboard:before {
  content: "\e907";
}
.icon-publish:before {
  content: "\e908";
}
.icon-github:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}

