%cover-palm {
  @include media-query(palm) {
    background: #333 !important;
  }
}

.cover {
  background-size: cover;
  z-index: 1;
  position: static;
}

.cover--fixed {
  background-attachment: fixed;
}

.cover--bottom {
  background-position: bottom;
}

// Cover Images

.cover--sf {
  background-image: url('/images/sf.jpeg');
  color: #333;
  .border {
    border-color: #333;
  }
}

.cover--mbp {
  background-image: url('/images/mbp.jpg');
  color: white;
}

.cover--desktop {
  background-image: url('/images/desktop.jpeg');
  color: white;
}

.cover--himalaya {
  background-image: url('/images/himalaya.jpeg');
  color: white;
}

.cover--pooch {
  background-image: url('/images/pooch.jpeg');
  color: white;
}

.cover--fox {
  background-image: url('/images/fox.jpeg');
  color: white;
  @extend %cover-palm;
}

.cover--forest {
  background-image: url('/images/forest.jpeg');
}

.cover--forest-bridge {
  background-image: url('/images/forest_bridge.jpeg');
}


.cover--bright {
  background: #FF6138;
  &, .text-highlight {
    color: white;
  }
  .text-highlight:after {
    background: rgba(0,0,0,0.1);
  }
}

.cover--light {
  background: #f9f9f9;
  color: #999;
}

.cover--dark {
  background: #1E1E20;
  color: rgba(255,255,255,0.3);
}

.cover--green {
  background: #BEDB39;
}
