$page-bg: #FFF;
$page-footer-bg: rgba(0,0,0,0.03);
$page-footer-circle-size: 25px;

.page {
  background: $page-bg;
}

.page__footer {
  height: 100px;
  background: $page-footer-bg;
  position: relative;
  @extend .icon-lightbulb;
  &:before {
    position: absolute;
    left: calc(50% - #{$page-footer-circle-size}/2);
    top: -($page-footer-circle-size);
    font-family: 'icomoon';
    background: white;
    font-size: 2rem;
    padding: 32px;
    border-radius: 40px;
    line-height: 0;
    width: 0;
    color: #ccc;
    text-indent: -($page-footer-circle-size/2);
    @include media-query(palm) {
      display: none;
    }
  }
}
