@import "variables"

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?99atmo');
	src:url('fonts/icomoon.eot?99atmo#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?99atmo') format('truetype'),
		url('fonts/icomoon.woff?99atmo') format('woff'),
		url('fonts/icomoon.svg?99atmo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
	&:before {
		content: $icon-mobile;
	}
}
.icon-laptop:before {
	&:before {
		content: $icon-laptop;
	}
}
.icon-desktop:before {
	&:before {
		content: $icon-desktop;
	}
}
.icon-tablet:before {
	&:before {
		content: $icon-tablet;
	}
}
.icon-phone:before {
	&:before {
		content: $icon-phone;
	}
}
.icon-picture:before {
	&:before {
		content: $icon-picture;
	}
}
.icon-ribbon:before {
	&:before {
		content: $icon-ribbon;
	}
}
.icon-flag:before {
	&:before {
		content: $icon-flag;
	}
}
.icon-map:before {
	&:before {
		content: $icon-map;
	}
}
.icon-envelope:before {
	&:before {
		content: $icon-envelope;
	}
}
.icon-lightbulb:before {
	&:before {
		content: $icon-lightbulb;
	}
}
.icon-beaker:before {
	&:before {
		content: $icon-beaker;
	}
}
.icon-genius:before {
	&:before {
		content: $icon-genius;
	}
}
.icon-chat:before {
	&:before {
		content: $icon-chat;
	}
}
.icon-menu:before {
	&:before {
		content: $icon-menu;
	}
}
.icon-chevron-small-down:before {
	&:before {
		content: $icon-chevron-small-down;
	}
}
.icon-chevron-small-left:before {
	&:before {
		content: $icon-chevron-small-left;
	}
}
.icon-chevron-small-right:before {
	&:before {
		content: $icon-chevron-small-right;
	}
}
.icon-chevron-small-up:before {
	&:before {
		content: $icon-chevron-small-up;
	}
}
.icon-browser:before {
	&:before {
		content: $icon-browser;
	}
}
.icon-check:before {
	&:before {
		content: $icon-check;
	}
}
.icon-code:before {
	&:before {
		content: $icon-code;
	}
}
.icon-keyboard:before {
	&:before {
		content: $icon-keyboard;
	}
}
.icon-publish:before {
	&:before {
		content: $icon-publish;
	}
}
.icon-github:before {
	&:before {
		content: $icon-github;
	}
}
.icon-linkedin:before {
	&:before {
		content: $icon-linkedin;
	}
}
.icon-twitter:before {
	&:before {
		content: $icon-twitter;
	}
}

