$icon-chevron-small-down: "\e900";
$icon-chevron-small-left: "\e901";
$icon-chevron-small-right: "\e902";
$icon-chevron-small-up: "\e903";
$icon-browser: "\e904";
$icon-check: "\e905";
$icon-code: "\e906";
$icon-keyboard: "\e907";
$icon-publish: "\e908";
$icon-github: "\e909";
$icon-linkedin: "\e90a";
$icon-twitter: "\e90b";
$icon-menu: "\e120";
