$icon-mobile: "\e000";
$icon-laptop: "\e001";
$icon-desktop: "\e002";
$icon-tablet: "\e003";
$icon-phone: "\e004";
$icon-picture: "\e00f";
$icon-ribbon: "\e01e";
$icon-flag: "\e024";
$icon-map: "\e025";
$icon-envelope: "\e028";
$icon-lightbulb: "\e030";
$icon-beaker: "\e03c";
$icon-genius: "\e046";
$icon-chat: "\e049";
$icon-menu: "\e120";
$icon-chevron-small-down: "\e900";
$icon-chevron-small-left: "\e901";
$icon-chevron-small-right: "\e902";
$icon-chevron-small-up: "\e903";
$icon-browser: "\e904";
$icon-check: "\e905";
$icon-code: "\e906";
$icon-keyboard: "\e907";
$icon-publish: "\e908";
$icon-github: "\e909";
$icon-linkedin: "\e90a";
$icon-twitter: "\e90b";
