.bg-dark--1\/2 {
  background: rgba(0,0,0,0.5);
}

.gradient--blue {
  color: rgba(255,255,255,0.8);
  background-image: linear-gradient(90deg, rgb(6, 146, 240) 24%, rgb(83, 184, 252) 100%);
  background-image: -moz-linear-gradient(right, rgb(6, 146, 240) 24%, rgb(83, 184, 252) 100%);
  background-image: -webkit-linear-gradient(right, rgb(6, 146, 240) 24%, rgb(83, 184, 252) 100%);
  background-image: -o-linear-gradient(right, rgb(6, 146, 240) 24%, rgb(83, 184, 252) 100%);
  background-image: -ms-linear-gradient(right, rgb(6, 146, 240) 24%, rgb(83, 184, 252) 100%);
}
