.link {
  cursor: pointer;
}

.link--main {
  &:hover {
    color: $link-color--regular;
  }
}

.link--no-deco {
  &, a {
    text-decoration: none;
  }
}

.link--subtle {
  color: inherit;
  &:hover {
    color: $link-color--regular;
  }
}
