.text-small {
  font-size: 0.875em;
  @include media-query(palm) {
    font-size: 0.9375em;
  }
}

.text-light {
  font-weight: 100;
}

.text-large {
  font-size: 2.22em;
}

.text-huge {
  font-size: 3.75em;
  @include media-query(palm) {
    font-size: 2.5rem;
  }
}

.text-line-height--big {
  line-height: 2;
}

.text-line-height--small {
  line-height: 1.2;
}

.text-highlight {
  position: relative;
  display: inline-block;
  color: #333;
  left: -3%;
  z-index: 1;
  &:after {
    content: '';
    background: yellow;
    position: absolute;
    left: -5%;
    top: 50%;
    width: 120%;
    height: 24%;
    z-index: -1;
    border-radius: 10px;
  }
}

.text-highlight--on-dark {
  color: white;
  &:after {
    background: rgba(0,0,0,1);
  }
}

.text-color--light {
  color: #999;
}

.text-color--lightest {
  color: white;
}

.font--san-francisco {
  font-family: 'San Francisco';
}

.font--san-francisco-normal {
  font-family: 'San Francisco';
  font-weight: 200;
}
