.tint {
  position: relative;
  &:after {
    content: '';
    @extend .absolute-fill;
  }
}

.tint--yellow {
  color: #105B63;
  &:after {
    background: rgba(255,250,213,0.8);
  }
}

.tint--red {
  &:after {
    background: rgba(255,97,56,0.2);

  }
}
