$border-color--main: #ccc !default;

.border {
  border-color: transparent;
  border-width: 1px;
}

.border--v {
  border-bottom-style: solid;
  border-top-style: solid;
}

.border--b {
  border-bottom-color: $border-color--main;
  border-bottom-style: solid;
}

.border--t {
  border-top-color: $border-color--main;
  border-top-style: solid;
}

.border--dotted {
  border-style: dotted;
}

.border--white {
  border-color: white;
}

.border--subtle {
  border-color: rgba(0,0,0,0.2);
}
