<div class="cover cover--fox cover--fixed pv++">
    <div class="section skew-x skew-y text-center pv++ animation-opacity">
      {{#way-point classTarget='.section' classes='opacity-0' offset='0px'}}
        <h1 class="mv0 text-large font--san-francisco">
            Ryan Irilli
        </h1>
        <h2 class="mt0 ph palm-ph0 border border--white border--v ib font--san-francisco text-light">
            UI Designer & Developer
        </h2>
      {{/way-point}}
    </div>
</div>

<div class="pv++ palm-pv">
  <div class="section ph">
      <p class="text-line-height--big">
          <strong class="text-highlight">With 8 years industry experience</strong>
          I've spent the last four years of my life in San Francisco building web applications. From an early stage start
          up
          to a publicly traded company, I have worked side by side with designers, developers, product
          managers, and
          QA engineers to deliver consumer and B2B products. I'm using modern tooling, design patterns and web frameworks
          to create the best user experience.
      </p>
      <div class="link--no-deco border border--t pt- animation-opacity opacity-0">
          {{#way-point classTarget='.animation-opacity' classes='opacity-1' offset='75%'}}
            <a href="https://github.com/ryanirilli" target="_blank" class="link--subtle">
                <i class="icon-github"></i> <span class="text-small">Github</span>
            </a>
            <a href="https://www.linkedin.com/in/ryanirilli" class="link--subtle ml">
                <i class="icon-linkedin"></i> <span class="text-small">Linked In</span>
            </a>
            <a href="https://www.twitter.com/ryanirilli" class="link--subtle ml">
                <i class="icon-twitter"></i> <span class="text-small">Twitter</span>
            </a>
          {{/way-point}}
      </div>
  </div>
</div>

<div class="cover cover--light pv+ palm-pv ph">
    <div class="section">
        <h1 class="font--san-francisco-normal border border--b">
            Latest Experiments
        </h1>
    </div>
    <div class="section">
        <h2>
          Visaudio <a class="text-light text-small link--no-deco"
                      href="http://visaudio.me" target="_blank">http://visaudio.me</a>
        </h2>
        <p class="u-2/3 u-1/1-palm">
            Visaudio is a new look at your past. It explores the web audio api and uses
            your photos from Facebook to generate neat slideshows.
        </p>
        <div class="pv">
            <h2>
                Travlr <a class="text-light text-small link--no-deco"
                          href="http://thetravlr.com" target="_blank">http://thetravlr.com</a>
            </h2>
            <p class="u-2/3 u-1/1-palm">
                Travlr is a simple to use app for creating trip itineraries. It helps people organize
                their travel plans with an intuitive and easy to use UI.

            </p>
        </div>
    </div>
</div>

<div class="pv+ ph palm-pv0">
  <div class="section">
      <div>
          <h1 class="font--san-francisco-normal border border--b">
              <span class="hidden-palm">Professional</span>  Experience
          </h1>
      </div>

      <div class="layout">
          <div class="layout__item u-1/3">
              <div class="p palm-p0">
                  <img class="u-1/1" src="/images/logos/points_logo.jpg" />
              </div>
          </div><!--
          --><div class="layout__item u-1/3">
            <div class="p palm-p0">
                <img class="u-1/1" src="/images/logos/switchfly_logo.jpg" />
            </div>
          </div><!--
          --><div class="layout__item u-1/3">
            <div class="p palm-p0">
              <img class="u-1/1" src="/images/logos/apartmentlist_logo.jpg" />
            </div>
          </div>
      </div>
  </div>
</div>
<div class="text-center palm-pt pb++ palm-pb0">
    <a href="/resume.pdf" class="btn btn--large--palm btn--primary float-right u-1/1-palm">
        Download my resume
    </a>
</div>