<div class="home-graphic gradient--blue border--white-cloud--bottom">
    <div class="home-graphic__content"></div>
    <div class="section skew-slant relative text-center pv++ animation-opacity">
        {{#way-point classTarget='.section' classes='opacity-0' offset='0px'}}
            <h1 class="mv0">
                Ryan Irilli
            </h1>
            <h4 class="mt0 ph border border--white border--t ib text-light">
                UI Design &amp; Development
            </h4>
        {{/way-point}}
    </div>
</div>

<div class="pt++ palm-pv ph--">
  <div class="section ph">
      <p class="text-line-height--big">
          <span class="text-highlight">With 8 years industry experience</span>
          I've spent the last four years of my life in San Francisco building web applications. From an early stage start
          up
          to a publicly traded company, I have worked side by side with designers, developers, product
          managers, and
          QA engineers to deliver consumer and B2B products. I'm using modern tooling, design patterns and web frameworks
          to create the best user experience.
      </p>
      <div class="link--no-deco pt-">
        <a href="https://github.com/ryanirilli" target="_blank" class="link--subtle">
            <i class="icon-github"></i> <span class="text-small">Github</span>
        </a>
        <a href="https://www.linkedin.com/in/ryanirilli" class="link--subtle ml">
            <i class="icon-linkedin"></i> <span class="text-small">Linked In</span>
        </a>
        <a href="https://www.twitter.com/ryanirilli" class="link--subtle ml">
            <i class="icon-twitter"></i> <span class="text-small">Twitter</span>
        </a>
      </div>
  </div>
</div>

<div class="mt+ ph--">
    <div class="section">
        <div class="layout">
            <div class="layout__item u-1/1">
                <h2 class="pl mt0 font--san-francisco-normal">
                    Specialties
                </h2>
                <ul class="list-bare list-block">
                    <li class="border border--b border--t">
                        <h2 class="mv0 font--san-francisco-normal">
                            Asset Pipeline
                        </h2>
                        <span class="text-small">Building workflows from dev environment to production code</span>
                    </li>
                    <li class="border border--b">
                        <h2 class="mv0 font--san-francisco-normal">
                            Application Architecture
                        </h2>
                        <span class="text-small">Creating and documenting the services and components that manage application state</span>
                    </li>
                    <li class="border border--b">
                        <h2 class="mv0 font--san-francisco-normal">
                            CSS
                        </h2>
                        <span class="text-small">Sane approach to writing reusable css using concepts of OOCSS, BEM and ITCSS</span>
                    </li>
                    <li class="border border--b">
                        <h2 class="mv0 font--san-francisco-normal">
                            Mobile Strategy
                        </h2>
                        <span class="text-small">
                            Ensuring the UX is optimized for conversion across devices
                        </span>
                    </li>
                    <li class="border border--b">
                        <h2 class="mv0 font--san-francisco-normal">
                            Analytics & A/B testing
                        </h2>
                        <span class="text-small">
                            capturing user behavior to drive data driven decision making
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="ph">
    <h2 class="mt+ font--san-francisco-normal section">
        Tools
    </h2>
</div>

<div class="pv bg-dark--1/30 ph">
  <div class="section">
      <div class="layout">
          <div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/node.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/angular.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
            <img class="u-1/1" src="/images/logos/tools/ember.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
            <img class="u-1/1" src="/images/logos/tools/sass.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/inuit.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/gulp.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/grunt.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/jquery.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/photoshop.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/illustrator.png" />
          </div><!--
          --><div class="layout__item u-1/6 u-1/3-palm">
              <img class="u-1/1" src="/images/logos/tools/chrome.png" />
          </div>
      </div>
  </div>
</div>

<div class="pt+ palm-pv">
    <div class="section palm-pl-">
        <h2 class="mt0 font--san-francisco-normal">
            Latest Projects
        </h2>
    </div>
    <div class="section palm-ph-" {{action 'goToRoute' 'experiments.rebuilding-pitchforks-album-carousel'}}>
        <div class="info-box info-box--clickable">
            <div class="info-box__container">
                <div class="info-box__icon-container">
                    <div class="info-box__icon">
                        <img src="/images/pitchfork_logo.jpg" />
                    </div>
                </div><!--
            --><div class="info-box__content-container">
                <div class="info-box__content">
                    <h2 class="info-box__title">Rebuilding Pitchfork's Album Carousel</h2>
                    <p class="info-box__description">
                        Exploring a new way to browse album reviews using Ember Components
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="section palm-ph-" {{action 'goToRoute' 'http://thetravlr.com' true}}>
        <div class="info-box info-box--clickable">
            <div class="info-box__container">
                <div class="info-box__icon-container">
                    <div class="info-box__icon">
                        <img src="/images/logos/travlr.svg" class="u-1/1" />
                    </div>
                </div><!--
                --><div class="info-box__content-container">
                    <div class="info-box__content">
                        <h2 class="info-box__title">Itinerary planning made better and more fun</h2>
                        <p class="info-box__description">
                            Travlr is a real time application that makes planning multi destination trips easier and aims
                            to make travel more social.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section palm-ph-" {{action 'goToRoute' 'http://visaudio.me' true}}>
        <div class="info-box info-box--clickable">
            <div class="info-box__container">
                <div class="info-box__icon-container">
                    <div class="info-box__icon">
                        <img src="/images/logos/visaudio_logo.png" class="u-1/1" />
                    </div>
                </div><!--
                --><div class="info-box__content-container">
                    <div class="info-box__content">
                        <h2 class="info-box__title">Head down memory lane with Facebook </h2>
                        <p class="info-box__description">
                            Visaudio lets you re-watch what you didn't see last time again
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt+ ph palm-pv0">
  <div class="section">
      <div>
          <h2 class="font--san-francisco-normal">
              <span class="hidden-palm">Professional</span>  Experience
          </h2>
          <div class="section pt pb++ palm-pb0 float-right">
              <a href="/pdfs/resume.pdf" class="btn btn--large--palm btn--primary u-1/1-palm">
                  Download my resume
              </a>
          </div>
      </div>

      <div class="layout">
          <div class="layout__item u-1/4">
              <div class="p">
                  <img class="u-1/1" src="/images/logos/points_logo.jpg" />
              </div>
          </div><div class="layout__item u-1/1 text-small">
            <p>
                At <a href="https://points.com">Points</a> I work on improving our front end architecture. We're focused on making rewards programs easier for people to manage and transact with.
            </p>
            <p>
                My responsibilities include writing code for all aspects of the front end workflow including build tools, application logic, and styles.
            </p>
            <p>
                I introduced and implemented the concept of the <i>'Inverted Triangle'</i> approach to css that has resulted in adoption on Points.com as well as our Pointshound.com products.
            </p>
            <p>
                Currently I am learning and experimenting with the newer concepts pioneered by the React team including unidirectional data flow, immutable objects, and managing application state in a single state-tree.
            </p>
          </div><div class="layout__item u-1/4">
              <div class="p">
                  <img class="u-1/1" src="/images/logos/switchfly_logo.jpg" />
              </div>
          </div><div class="layout__item u-1/1 text-small">
              <p>
                  Using Ember.js we built a long lived single-page application for our client, American Express. Our agent desktop tool enabled travel agents to search and book hotels for customers nationwide. I was responsible for implementing a range of features in javascript including UI components, framework design, and asset pipeline improvements.
              </p>
          </div><div class="layout__item u-1/4">
              <div class="p">
                  <img class="u-1/1" src="/images/logos/apartmentlist_logo.jpg" />
              </div>
          </div><div class="layout__item u-1/1 text-small">
            <p>
                 Lead designer for CarHelper.com, a Ruby on Rails Application
                 Designed and implemented UI for the entire user funnel.
            </p><p>
                 I implemented custom event tracking via Google Analytics and conducted various multivariate tests to optimize conversions.
                 I was responsible for writing semantic, cross browser compatible markup and css and
                 helped develop the front end using Jquery/UI and Backbone.js
            </p>
            <p>
                I also made these videos for the company
            </p>
            <div class="text-center mt+ mb+">
                <iframe src="https://player.vimeo.com/video/46887185?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="text-center mb++">
              <iframe src="https://player.vimeo.com/video/38232890?color=ff9933&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
      </div>
  </div>
</div>

