<div class="layout layout--flush cover cover--fox cover--fixed">
    <div class="layout__item height-2/3 animation-opacity">
      {{#way-point classTarget='.layout__item' classes='opacity-0' offset='-50px'}}
          <div class="text-center ph pt++">
              <img class="mt++ u-1/1 u-1/3-desk u-1/2-lap" src="images/name.png"/>
          </div>
      {{/way-point}}
    </div>
</div>

<div class="section pt++ pb+ palm-pt ph">
    <p class="text-line-height--big">
        <strong class="text-highlight">I'm a UX developer</strong> with 8 years in the industry.
        I've spent the last four years of my life in San Francisco building web applications. From an early stage start
        up
        to a publicly traded company, I have worked side by side with designers, developers, product
        managers, and
        QA engineers to deliver consumer and B2B products. I'm passionate about using modern tooling and web frameworks
        to
        make the best user experience possible.
    </p>
</div>

<!--<div class="pb+">-->
  <!--<div class="text-center">-->
    <!--<div class="animation-opacity opacity-0">-->
      <!--{{!#way-point classTarget='.opacity-0' classes='opacity-1' offset='80%'}}-->
          <!--<div class="section">-->
              <!--<ul class="layout layout--flush ">-->
                  <!--<li class="layout__item u-1/3 u-1/1-palm">-->
                      <!--<div class="p-">-->
                          <!--<h3 class="palm-mb0">Design</h3>-->

                          <!--<p class="text-small">-->
                              <!--I produce wireframes, mockups, and prototypes during the planning and design phase-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</li>&lt;!&ndash;-->
                  <!--&ndash;&gt;<li class="layout__item u-1/3 u-1/1-palm">-->
                    <!--<div class="p-">-->
                        <!--<h3 class="palm-mb0">Develop</h3>-->

                        <!--<p class="text-small">-->
                            <!--I use modern tools and best practices to build out applications, taking advantage of the-->
                            <!--rich open source community-->
                        <!--</p>-->
                    <!--</div>-->
                  <!--</li>&lt;!&ndash;-->
                  <!--&ndash;&gt;<li class="layout__item u-1/3 u-1/1-palm">-->
                    <!--<div class="p-">-->
                        <!--<h3 class="palm-mb0">Scale</h3>-->

                        <!--<p class="text-small">-->
                            <!--Well structured DOM using as few elements as possible to ensure performance on all devices cool-->
                        <!--</p>-->
                    <!--</div>-->
                  <!--</li>-->
              <!--</ul>-->
          <!--</div>-->
      <!--{{!/way-point}}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="section">
  <div class="layout">
      <div class="layout__item">
          <div class="text-center text-large pb+ link--no-deco">
              <a href="https://github.com/ryanirilli" target="_blank" class="link--subtle">
                  <i class="icon-github"></i>
              </a>
              <a href="#" class="link--subtle">
                <i class="icon-linkedin mh"></i>
              </a>
              <a href="#" class="link--subtle">
                <i class="icon-twitter"></i>
              </a>
          </div>
      </div>
  </div>
</div>


<div class="pv++ cover cover--forest-bridge cover--fixed">
    <div class="pv++"></div>
    <div class="pv++"></div>
    <div class="pv++"></div>
</div>




