<div class="home-graphic gradient--blue border--white-cloud--bottom">
    <div class="home-graphic__content"></div>
    <div class="section skew-slant relative text-center pv++ animation-opacity">
        {{#way-point classTarget='.section' classes='opacity-0' offset='0px'}}
            <h1 class="mv0">
                Ryan Irilli
            </h1>
            <h4 class="mt0 ph border border--white border--t ib text-light">
                UI Design &amp; Development
            </h4>
        {{/way-point}}
    </div>
</div>

<div class="pv++ palm-pv">
  <div class="section ph">
      <p class="text-line-height--big">
          <span class="text-highlight">With 8 years industry experience</span>
          I've spent the last four years of my life in San Francisco building web applications. From an early stage start
          up
          to a publicly traded company, I have worked side by side with designers, developers, product
          managers, and
          QA engineers to deliver consumer and B2B products. I'm using modern tooling, design patterns and web frameworks
          to create the best user experience.
      </p>
      <div class="link--no-deco pt-">
        <a href="https://github.com/ryanirilli" target="_blank" class="link--subtle">
            <i class="icon-github"></i> <span class="text-small">Github</span>
        </a>
        <a href="https://www.linkedin.com/in/ryanirilli" class="link--subtle ml">
            <i class="icon-linkedin"></i> <span class="text-small">Linked In</span>
        </a>
        <a href="https://www.twitter.com/ryanirilli" class="link--subtle ml">
            <i class="icon-twitter"></i> <span class="text-small">Twitter</span>
        </a>
      </div>
  </div>
</div>


<div class="section palm-pl-">
    <h2 class="font--san-francisco-normal">
        Latest Projects
    </h2>
</div>
<div class="palm-pv+ gradient--blue">
  {{slick-carousel data=experimentsCarouselData}}
</div>

<div class="pv++ palm-pv">
    <div class="section palm-pl-">
        <h2 class="mt0 font--san-francisco-normal">
            Experiments
        </h2>
    </div>

    <div class="section palm-ph-" {{action 'goToRoute' 'experiments.rebuilding-pitchforks-album-carousel'}}>
        <div class="info-box info-box--clickable">
            <div class="info-box__container">
                <div class="info-box__icon-container">
                    <div class="info-box__icon">
                        <img src="/images/pitchfork_logo.jpg" />
                    </div>
                </div><!--
            --><div class="info-box__content-container">
                <div class="info-box__content">
                    <h2 class="info-box__title">Rebuilding Pitchfork's Album Carousel</h2>
                    <p class="info-box__description">
                        Exploring a new way to browse album reviews using Ember Components
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="pb+ ph palm-pv0">
  <div class="section">
      <div>
          <h2 class="font--san-francisco-normal border border--b">
              <span class="hidden-palm">Professional</span>  Experience
          </h2>
      </div>

      <div class="layout">
          <div class="layout__item u-1/3">
              <div class="p palm-p0">
                  <img class="u-1/1" src="/images/logos/points_logo.jpg" />
              </div>
          </div><!--
          --><div class="layout__item u-1/3">
            <div class="p palm-p0">
                <img class="u-1/1" src="/images/logos/switchfly_logo.jpg" />
            </div>
          </div><!--
          --><div class="layout__item u-1/3">
            <div class="p palm-p0">
              <img class="u-1/1" src="/images/logos/apartmentlist_logo.jpg" />
            </div>
          </div>
      </div>
  </div>
</div>

<div class="text-center palm-pt pb++ palm-pb0">
    <a href="/pdfs/resume.pdf" class="btn btn--large--palm btn--primary float-right u-1/1-palm">
        Download my resume
    </a>
</div>


<div>

</div>