<div class="layout layout--flush cover cover--fox cover--fixed">
    <div class="layout__item height-2/3 animation-opacity">
      {{#way-point classTarget='.layout__item' classes='opacity-0' offset='-50px'}}
          <div class="text-center ph pt++">
              <img class="mt++ u-1/1 u-1/3-desk" src="images/name.png"/>
          </div>
      {{/way-point}}
    </div>
</div>

<div class="section pt++ palm-pt ph">
    <p class="text-line-height--big">
        <strong class="text-highlight">I'm a UX developer</strong> with 8 years in the industry.
        I've spent the last four years of my life in San Francisco building web applications. From an early stage start
        up
        to a publicly traded company, I have worked side by side with other software designers, developers, product
        managers, and
        QA engineers to deliver consumer and B2B products. I'm passionate about using modern tooling and web frameworks
        to
        make the best user experience possible.
    </p>
</div>

<div class="text-center">
    <h2 class="text-center section mv++ palm-mv+ text-huge text-highlight">
        Experience
    </h2>
</div>

<div class="section pb++ palm-pb">
    <div class="layout layout--center">
        <div class="layout__item u-1/2 u-1/1-palm">
            <div class="p">
                <ul class="timeline timeline--vertical mb++">
                    <li class="timeline__item">
                      {{#way-point classTarget='.timeline__item' classes='timeline__item--active'}}
                          <div class="timeline__content">
                              <h3 class="timeline__heading">
                                  Points International
                              </h3>

                              <div class="timeline__detail">
                                  <p class="mv0">
                                      <strong>Senior Web Developer</strong><br>
                                      <a href="http://www.points.com" target="_blank">
                                          Points.com
                                      </a>
                                  </p>
                              </div>
                              <p class="timeline__date">
                                  Nov. 2014 - present
                              </p>
                          </div>
                      {{/way-point}}
                    </li>
                    <li class="timeline__item">
                      {{#way-point classTarget='.timeline__item' classes='timeline__item--active'}}
                          <div class="timeline__content">
                              <h3 class="timeline__heading">
                                  Switchfly
                              </h3>

                              <div class="timeline__detail">
                                  <p class="mv0">
                                      <strong>Web Developer</strong>
                                  </p>
                              </div>
                              <p class="timeline__date">
                                  Jun. 2013 - Nov. 2014
                              </p>
                          </div>
                      {{/way-point}}
                    </li>
                    <li class="timeline__item">
                      {{#way-point classTarget='.timeline__item' classes='timeline__item--active'}}
                          <div class="timeline__content">
                              <h3 class="timeline__heading">
                                  Apartment List
                              </h3>

                              <div class="timeline__detail">
                                  <p class="mv0">
                                      <strong>Web Designer & Developer</strong>
                                  </p>
                              </div>
                              <p class="timeline__date">
                                  Jan. 2013 - Feb. 2014
                              </p>
                          </div>
                      {{/way-point}}
                    </li>
                    <li class="timeline__item">
                      {{#way-point classTarget='.timeline__item' classes='timeline__item--active'}}
                          <div class="timeline__content">
                              <h3 class="timeline__heading">
                                  <strong>Independent Contractor</strong>
                              </h3>

                              <p class="timeline__date">
                                  Mar. 2011 - Dec. 2012
                              </p>
                          </div>
                      {{/way-point}}
                    </li>
                    <li class="timeline__item">
                      {{#way-point classTarget='.timeline__item' classes='timeline__item--active'}}
                          <div class="timeline__content">
                              <h3 class="timeline__heading">
                                  University of Washington
                              </h3>

                              <div class="timeline__detail">
                                  <p class="mv0">
                                      <strong>Web and Media Specialist</strong>
                                  </p>
                              </div>
                              <p class="timeline__date">
                                  2008 - Mar. 2011
                              </p>
                          </div>
                      {{/way-point}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section palm-pt ph">
    <p class="text-line-height--big">
        <strong class="text-highlight">As developer communities </strong> evolve and engineering teams
        adopt newer and simpler
        workflows, we're building a better web ecosystem. Along with that, a common approach to writing, publishing, and
        integrating
        third party libraries empowers teams to implement their products faster and with fewer lines of code. The web
        platform continues
        to grow the three main areas of discipline:
    </p>
</div>


<div class="p mb++ palm-mv0 palm-ph">
    <div class="section">
        <ul class="layout layout--flush">
            <li class="layout__item u-1/3 u-1/1-palm">
                <div class="p-">
                    <h3 class="text-highlight palm-mb0">JS</h3>

                    <p class="text-small">
                        Routable web components. Frameworks like React, Angular and Ember to build sophisticated single
                        page applications
                    </p>
                </div>
            </li><!--
            --><li class="layout__item u-1/3 u-1/1-palm">
                <div class="p-">
                    <h3 class="text-highlight">CSS</h3>

                    <p class="text-small">
                        Object oriented approach. Strong emphasis on typography, vertical rhythm and use of white space.
                        Mobile
                        first strategy. Fluidity and proportion.
                    </p>
                </div>
            </li><!--
            --><li class="layout__item u-1/3 u-1/1-palm">
                <div class="p-">
                    <h3 class="text-highlight palm-mb0">HTML</h3>

                    <p class="text-small">
                        Well structured DOM using as few elements as possible to ensure performance on all devices
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="page__footer cover cover--forest cover--fixed">
    <div class="pv++"></div>
    <div class="pv++"></div>
    <div class="pv++"></div>
</div>


